.body__container {
  display: flex;
  flex-direction: row;
}

.video__container {
  flex: 1;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video__caption {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  margin-top: 1rem;
}

.video__caption p {
  /* font-size: 1rem; */
  font-size: 1.2vw;
  line-height: 1.6vw;
  /* width: ; */
}
.bio__container {
  /* width: 50%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bio__exhibition {
  padding-left: 3vw;
  width: 79%;
}

.bio__container__ul {
  /* margin-top: 0; */
  width: 83%;
  padding-left: 3vw;
}
.bio__ul__li {
  margin-bottom: 0.7rem;
  width: 80%;
}

.bio__p {
  color: #ffffff;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-top: -1rem;
}
.bio__p--large {
  font-weight: 500;
  /* font-size: 1.5rem; */
  /* line-height: 31px; */
  font-size: 1.73vw;
  line-height: 2.1vw;
  /* font-size: 3.3vh;
  line-height: 4.25vh; */
}
.bio__p--small {
  font-weight: 600;
  /* font-size: 1rem;*/
  line-height: 36px;
  font-size: 1.15vw;
  /* line-height: 2.6vw; */
}
.bio__p__last {
  line-height: 20px;
  padding-top: 0.7rem;
}
.bio__h2 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  /* font-size: 2.4rem; */
  font-size: 2.77vw;
}
.bio__link {
  margin: 0;
  text-decoration: none;
}

.bio__link__ul {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.bio__link--hovered .bio__h2,
.bio__link--hovered .bio__p {
  color: #ff0099;
}
.video__iframe {
  /* pointer-events: none; */
}

.bio__container__li__video,
.bio__mail--mobile {
  display: none;
}
.maildiv {
  display: none;
}

@media only screen and (max-width: 1110px) {
  .bio__p--small {
    font-size: 1.45vw;
  }
  .bio__exhibition {
    width: 100%;
  }

  .bio__container__ul {
    width: 100%;
  }
  .bio__h2 {
    margin-bottom: 0.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .bio__p--small {
    font-size: 1.45vw;
    line-height: 1.7rem;
  }
  .bio__p--large {
    font-size: 1.73vw;
    line-height: 2.65vw;
  }
  .bio__ul__li {
    margin-bottom: 0.4rem;
  }
  .bio__exhibition {
    width: 100%;
  }

  .bio__container__ul {
    width: 100%;
  }
  .bio__p__last {
    line-height: 2vw;
  }
  .video__caption {
    font-size: 1.45vw;
  }
}

@media only screen and (max-width: 480px) {
  .maildiv {
    display: block;
  }
  .body__container {
    flex-direction: column-reverse;
    display: contents;
  }
  .bio__container {
    width: 90%;
  }
  .bio__container__ul {
    padding: 0;
    width: 100%;
  }

  .bio__p--large {
    /* font-size: 1.18rem; */
    font-size: 4.93vw;
    line-height: 22px;
  }
  .bio__container__li--1st {
    margin-bottom: 22rem;
  }
  .bio__mail--mobile {
    display: list-item;
  }
  .video__container {
    display: none;
  }
  .bio__container__li__video {
    display: list-item;
    margin-bottom: 27rem;
  }
  .bio__container__li__video div {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .bio__container__li__video .video__iframe {
    width: 21rem;
    height: 16rem;
  }
  /* .video__caption {
    font-size: 0.7rem;
    margin-left: -4rem;
  } */
  .video__caption p {
    /* font-size: 1rem; */
    font-size: 3vw;
    line-height: 3.6vw;
  }
  .bio__h2 {
    font-size: 1.77rem;
  }
  /* .bio__container__li--last {
    margin-bottom: 7rem;
  } */

  .bio__link__ul li:first-child {
    margin-bottom: 3.3rem;
  }
  .bio__link__ul li:nth-child(2),
  .bio__link__ul li:nth-child(3) {
    margin-bottom: 1.2rem;
  }
  .bio__link__ul li:first-child p {
    line-height: 1.3rem;
  }
  .bio__link__ul li:nth-child(2) p:first-child {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .bio__h2 {
    margin-bottom: 0.8rem;
  }
  .bio__p--small {
    font-size: 1.22rem;
    font-size: 1.22rem;
    line-height: 1.3rem;
    margin-top: 0rem;
    width: 90%;
  }
  .bio__exhibition {
    margin-bottom: 8rem;
    padding: 0;
    padding-left: 1vw;
  }
}
