.body__container {
  display: flex;
  flex-direction: row;
}

.video__container {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.video__caption {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  /* width: 50%; */
}
.bio__container {
  width: 40%;
}

.bio__p {
  color: #ffffff;
  justify-content: flex-end;
}
.bio__p--large {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 36px;
}
.bio__p--small {
  font-weight: 600;
  font-size: 1rem;
  line-height: 36px;
}
.bio__h2 {
  color: #ffffff;
}
.video__iframe {
  pointer-events: none;
}
