body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__h1 {
  color: #ffffff;
  font-style: heavy;
  font-weight: 900;
  /* font-size: 4.4rem; */
  font-size: 5.07vw;
  margin: 0rem 0rem 1.5rem;
}

.header__h1__link {
  text-decoration: none;
  color: #ffffff;
}
.header__h1__link:hover {
  color: #ff0099;
}

.header__mailImg {
  /* width: 4rem; */
  width: 4.6vw;
  height: auto;
}
.header__mailImg:hover {
  color: #ff0099;
}
.ytp-right-controls {
  display: none;
}

@media only screen and (max-width: 480px) {
  .header {
    position: fixed;
    margin-top: 30rem;
  }
  .header__mailImg {
    display: none;
  }
  .header__h1 {
    font-size: 1.8rem;
  }
}
