p {
  color: #ffffff;
  color: #ffffff;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.4rem;
}
.creditsP__container {
  width: 69%;
}
.creditsP__top__p {
  color: #ffffff;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 31px;
  padding-bottom: 2rem;
}

.creditsP__h1 h1 {
  color: #ffffff;
  font-size: 5rem;
}

.creditsP__ul {
  padding-left: 0;
}
.creditsP__li {
  padding-bottom: 1rem;
  line-height: normal;
}
.creditsP__li.cora {
  padding-bottom: 0.5rem;
}
/* .creditsP__ul p {
  line-height: normal;
  padding-bottom: 0;
} */
.creditsP__p {
  padding-bottom: 0.5rem;
}
.bulletPoint__ul {
  list-style-type: circle;
  list-style-image: url('/circle--white.png');
  padding-left: 1.5rem;
}

.bulletPoint__li {
  line-height: normal;
  padding-bottom: 0.5rem;
}

.bulletPoint__p {
  line-height: normal;
  padding-left: 0.8rem;
}

.creditsP__and {
  display: none;
}

@media only screen and (max-width: 768px) {
  .creditsP__container {
    width: 100%;
  }
  .creditsP__h1 h1 {
    font-size: 2.5rem;
  }
  .bulletPoint__p p {
    font-size: 1.3rem;
  }
  .creditsP__li.cora {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .creditsP__container {
    width: 100%;
    margin-bottom: 20rem;
  }
  .creditsP__and {
    display: block;
  }
  .creditsP__and__h1 {
    color: #ffffff;
    font-style: heavy;
    font-weight: 900;
    font-size: 2rem;
    margin-top: -1rem;
  }
  .creditsP__top__p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .creditsP__h1 {
    width: 60;
  }
  .creditsP__p,
  .bulletPoint__p {
    font-size: 1.2rem;
  }
  .bulletPoint__p {
    padding-left: 0.6rem;
  }
  .creditsP__h1 h1 {
    font-size: 1.8rem;
  }
}
