.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__h1 {
  color: #ffffff;
  font-style: heavy;
  font-weight: 900;
  font-size: 4.4rem;
  margin: 0rem 0rem 1.5rem;
}

.header__h1__link {
  text-decoration: none;
  color: #ffffff;
}
/* .header__h1__link:hover {
  color: #ff0099;
} */

.header__backImg {
  width: 4rem;
}

@media only screen and (max-width: 480px) {
  .header__h1div {
    display: none;
  }
  .header {
    width: 77%;
    justify-content: flex-end;
    margin-top: -2rem;
  }
  .header__backImg {
    width: 2rem;
  }
}
